doctype html
html 
    head 
        title Dance Academy 
        style 
            include ../static/style.css
            
    body 
        #navbar
            .logo 
                a(href="/")
                    img(src="../static/logo.png")

            ul
                li: a(href="#") Home
                li: a(href="#") About
                li: a(href="#") Services
                li: a(href="#") Class Info
                li: a(href="#") Contact Us
        
        #banner_display
            p Welcome&nbsp&nbspto&nbsp&nbspthe&nbsp&nbspMotion&nbsp&nbspDance&nbsp&nbspAcademy 
            p Eat&nbsp&nbspSleep&nbsp&nbspDance&nbsp&nbspRepeat
        
        #mission_display
            h1 Our Mission

            .cards
                .card#c1 To make everybody shake
                    div
                        img(src="../static/bellydancer.png", alt="", srcset="")
                        p Embrace the belly and enjoy the jiggle
            
                .card#c2 To make you Hip hop
                    div 
                        img(src="../static/hiphop.png", alt="", srcset="")
                        p Break free or die tryin.
            
                .card#c3 To reborn Michael Jackson in you
                    div 
                        img(src="../static/michael.png", alt="", srcset="")
                        p When they say the sky's the limit to me that's really true

        #sponsors_display
            h1 Our Sponsors

            #sponsor_card 
                //- a(href="https://www.terencelewis.com/" target = "_main")
                img(src="../static/sponsor1.png", alt="Terence Lewis Academy", srcset="")

                //- a(href="https://ssda.in/" target = "_main")
                img(src="../static/sponsor2.png", alt="Split Sole Dancee Academy", srcset="")
    
                //- a(href="https://stepupdanceacademy.in/" target = "_main")
                img(src="../static/sponsor3.png", alt="Arpita Step Up Dance Academy", srcset="")
                
                //- a(href="https://www.supremeaudio.com/" target = "_main")
                img(src="../static/sponsor4.webp", alt="Supreme Audio", srcset="")

                //- a(href="https://www.thestudiodirector.com/" target = "_main")
                img(src="../static/sponsor5.svg", alt="Studio Director", srcset="")
        
        footer 
            p &copy;2023 Motion Dance Academy