doctype html
html 
    head 
        title Dance Academy 
        style 
            include ../static/style.css
            
    body 
        #navbar 
            ul
                li: a(href="#") Home
                li: a(href="#") About
                li: a(href="#") Services
                li: a(href="#") Class Info
                li: a(href="#") Contact Us
        
        #banner_display
            p Welcome&nbsp&nbspto&nbsp&nbspthe&nbsp&nbspMotion&nbsp&nbspDance&nbsp&nbspAcademy 
            p Eat&nbsp&nbspSleep&nbsp&nbspDance&nbsp&nbspRepeat
        
        #mission_display
            h1 Our Mission

            .card 
                h3 To make everybody shake
        
        #sponsors_display
            p Our Sponsors
        
